
      #introduction {
        display: none;
      }

      /* The td selector is needed to give this style higher specificity. */
      td input.linetotals {
        border: none;
      }

      input[type="text"], input[type="none"] {
        border-bottom: 1px solid black;
        border-left: none;
        border-top: none;
        border-right: none;
      }

      input[type="button"], .dellinelink {
        display: none;
      }


